div.lesson_discussion_header:before {
  content: "DISCUSSION";
}
div.lesson_discussion_header {
  padding: 8pt;
  border-bottom: 3pt solid black;
  font-size: 120%;
  background-color: #ccffff;
}
div.lesson_discussion_body {
  padding: 5pt;
  padding-left: 8pt;
}
div.lesson_discussion {
  margin: 10pt 2%;
  border: 3pt solid black;
  width: 96%;
  border-collapse: collapse;
}
div.lesson_activity_header:before {
  content: "DISCUSSION";
}
div.lesson_activity_header {
  padding: 8pt;
  border-bottom: 3pt solid black;
  font-size: 120%;
  background-color: #cccdff;
}
div.lesson_activity_body {
  padding: 5pt;
  padding-left: 8pt;
}
div.lesson_activity {
  margin: 10pt 2%;
  border: 3pt solid black;
  width: 96%;
  border-collapse: collapse;
}
table {
  margin: 10pt 2%;
  border: 3pt solid black;
  width: 96%;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid black;
}
div.lesson_header_table {
  background-color: #51ff7c;
}
div#lesson_plans h2 {
  background-color: #eeeeee;
  border: 1px solid black;
}
div#lesson_plans {
  counter-reset: h2
}

div#lesson_plans h2:before {
    counter-increment: h2; content: "Lesson " counter(h2) ": "
}

div#lesson_plans h2.nocount:before { 
    content: ""; counter-increment: none 
} 

