@page { margin: 0.79in }
P { margin-bottom: 0.14in; direction: ltr; color: #00000a; line-height: 150%; text-align: left; widows: 2; orphans: 2 }
P { font-family: "Verdana", serif; font-size: 11pt; so-language: en-US }
H1 { margin-bottom: 0in; direction: ltr; color: #2e74b5; line-height: 150%; text-align: left; page-break-inside: avoid; widows: 2; orphans: 2 }
H1 { font-family: "Calibri Light", serif; font-size: 16pt; so-language: en-US; font-weight: normal }
H2 { margin-top: 0.03in; margin-bottom: 0in; direction: ltr; color: #2e74b5; line-height: 150%; text-align: left; page-break-inside: avoid; widows: 2; orphans: 2 }
H2 { font-family: "Calibri Light", serif; font-size: 13pt; so-language: en-US; font-weight: normal }
H3 { margin-top: 0.03in; margin-bottom: 0in; direction: ltr; color: #1f4d78; line-height: 150%; text-align: left; page-break-inside: avoid; widows: 2; orphans: 2 }
H3 { font-family: "Calibri Light", serif; font-size: 12pt; so-language: en-US; font-weight: normal }
A:link { color: #0563c1; so-language: en-US }
